* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #fffdd0;
  --secondary-color: #472a17;
  --third-color: #f8f8f8;
  --fourth-color: #fffaf0;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Playfair Display", serif;
  overflow-x: hidden;
  width: 100vw;
}
.hamburger {
  display: none;
}
nav {
  position: fixed;
  top: 0;
  background: var(--third-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 5px 50px;
  width: 100%;
  font-size: 1.2rem;
  transition: all ease-in-out 0.4s;
  z-index: 100;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 1.4rem;
  align-items: center;
  justify-content: flex-start;
}
nav i {
  font-size: 2.2rem;
}
nav i:hover {
  opacity: 0.9;
  cursor: pointer;
  transition: all ease 0.3s;
}
nav .nav-contacts {
  width: 23%;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
nav .nav-contacts a {
  text-decoration: none;
  color: #222;
}

nav ul a {
  display: inline-block;
  padding-bottom: 4px;
  background-image: linear-gradient(#000 0 0);
  background-position: left bottom; /* OR left bottom*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.5s;
  text-decoration: none;
  color: #222;
}
nav ul a:hover {
  background-size: 100% 2px;
}
nav img {
  height: 90px;
  cursor: pointer;
}
/* welcome img and text */
#welcome-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background: url(./pexels-igor-starkov-233202-1693946.jpg) center center/cover
    no-repeat;
  z-index: -1;
}

.welcome-box {
  transition: all ease-in-out 0.4s;
  background: rgba(0, 0, 0, 0.6);
  color: var(--third-color);
  padding: 100px 0;
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.welcome-text {
  display: flex;
  margin-top: 4rem;
  flex-direction: column;
  text-align: start;
  padding: 10px;
}
.headings {
  font-size: 2rem;
  opacity: 0;
  transition: all ease-in-out 0.6s;
  padding: 5px;
}
.welcome-text h3:nth-child(2) {
  font-size: 2.5rem;
  font-weight: 1000;
  color: #f2d2bd;
}
.welcome-btn {
  text-decoration: none;
  padding: 5px 10px;
  margin-top: 60px;
  color: #f2d2bd;
  font-size: 1.3rem;
  border-radius: 5px;
  border: solid 2px var(--primary-color);
  text-align: center;
  align-self: flex-start;
  width: 50%;
  opacity: 0;
  transition: all ease-in-out 0.4s;
  font-weight: 500;
  margin-left: 8px;
}
.welcome-btn:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}

/* section 2 starting info */
#starting-info {
  display: flex;
  padding: 40px 60px 60px 60px;
  font-size: 1.7rem;
  background: var(--fourth-color);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 10rem;
  text-align: center;
}
#starting-info span {
  color: var(--secondary-color);
  font-weight: 600;
}
.starting-info-images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
.starting-info-images img {
  width: 50%;
  transition: all 1.2s ease-in-out;
}
.starting-info-images img:nth-child(1) {
  transform: translateX(-100%);
  opacity: 0;
}
.starting-info-images img:nth-child(2) {
  opacity: 0;
}
.starting-info-text {
  margin-top: 2rem;
  padding: 10px;
  width: 100%;
  transition: all ease-in-out 1.2s;
  font-size: 1.3rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  opacity: 0;
}
.starting-info-text div {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8), 0 0 20px 0 rgba(0, 0, 0, 0.19);
  padding: 50px;
  text-align: center;
  width: 100%;
}

.starting-info-images img:nth-child(2).display-image {
  transform: translateX(0%);
  opacity: 100%;
  z-index: 1;
  display: block;
}
.starting-info-images img:nth-child(1).display-image {
  transform: translateX(0%);
  opacity: 100%;
  z-index: 1;
}
.display {
  opacity: 100%;
}
/* sectiunea apartments */
#apartments-section {
  background: var(--secondary-color);
  padding: 100px 20px 20px 20px;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}
#apartments {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ap-box .active {
  flex: 5;
}
.ap-box .active h3 {
  opacity: 1;
}

.ap-box h2 {
  text-align: center;
  align-self: center;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  padding-top: 50px;
  transition: all ease-in-out 0.5s;
  border-radius: 50px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ap-box:nth-child(1) {
  background: url(./studio.jpg) center center/cover no-repeat;
}
.ap-box:nth-child(2) {
  background: url(./two-room.jpg) center center/cover no-repeat;
}
.ap-box:nth-child(3) {
  background: url(./three-room.jpg) center center/cover no-repeat;
}
.ap-box:nth-child(4) {
  background: url(./penthouse2.jpg) center center/cover no-repeat;
}
.ap-box {
  height: 90vh;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background: center/cover;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  flex: 0.5;
  position: relative;
  margin: 10px;
  transition: flex 0.7s ease-in;
}
.ap-box h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 50px;
  margin: 0;
  opacity: 0;
  transition: all 0.7s ease-in;
}
.ap-text {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5rem;
  color: #c4a484;
  font-weight: 300;
  width: 80%;
  margin: auto;
}
.ap-text h3 {
  font-weight: 200;
}
.ap-text h2 {
  text-align: center;
  font-size: 1.7rem;
}
.ap-text p {
  flex: 2;
  font-size: 1.1rem;
  text-align: center;
}
.btn {
  text-decoration: none;
  padding: 5px 10px;
  color: #f2d2bd;
  font-size: 1.3rem;
  border-radius: 5px;
  border: solid 2px var(--primary-color);
  text-align: center;
  transition: all ease-in-out 0.4s;
  font-weight: 500;
  margin-left: 8px;
  margin-top: 1rem;
}
.btn:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}
.ap-icons h3 {
  margin-top: 0.4rem;
}
.ap-box.active {
  flex: 5;
}
.ap-box.active h3 {
  opacity: 1;

  padding: 10px;
  align-self: center;
  text-align: center;
}
.ap-box.active h2 {
  opacity: 0;
}
/* section with location */

#location {
  background: var(--third-color);
  margin-top: 10rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loc-text-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./location1.jpg) center center/cover;
  height: 100%;
  width: 40%;
  flex: 1;
}
.location-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.8rem;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: var(--third-color);
  font-size: 1.3rem;
  padding: 40px;
}
.location-text h3 {
  font-weight: 300;
}
#location-map {
  height: 100%;
  flex: 2;
  border: 1px solid #111;
  z-index: 1;
}
/* sectiunea de contact */

#contact {
  background: var(--secondary-color);
  padding: 100px 0px;
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c4a484;
  border-bottom: 2px solid #c4a484;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
  width: 60%;
  text-align: center;
}
.contact-form h4 {
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 0.5rem;
}
#contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 4rem;
  font-size: 1.3rem;
}
.form-grup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  gap: 0.5rem;
  border-bottom: 2px solid var(--primary-color);
}
.form-grup input {
  padding: 10px;
  border: none;
  outline: none;
  width: 100%;
  background: inherit;
  color: #c4a484;
  font-size: 1rem;
}
.form-grup input::placeholder {
  color: #c4a484;
}

.input-btn {
  padding: 10px;
  width: 30%;
  margin-top: 2.3rem;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #c4a484;
  background: inherit;
  color: #c4a484;
  font-size: 1rem;
  transition: all ease-in-out 0.4s;
}
.input-btn:hover {
  border: 2px solid var(--secondary-color);
  background: #c4a484;
  color: var(--secondary-color);
}

footer {
  background: var(--secondary-color);
  color: #c4a484;
  padding: 30px 200px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
footer .social-media {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.1rem;
  gap: 1.5rem;
  align-items: center;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8),
    0 0 20px 0 rgba(255, 255, 255, 0.19);
  padding: 30px;
  color: #c4a484;
}
.social-media h3 {
  border-bottom: 2px solid #c4a484;
  padding-bottom: 15px;
}
.social-media h4 {
  margin-top: 1rem;
}
footer p {
  width: 40%;
  font-weight: 500;
  text-align: end;
}
.social-media a {
  text-decoration: none;
  color: #c4a484;
}

#top-btn {
  padding: 10px 15px;
  font-size: 1.4rem;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 100;
  background: #f2d2bd;
  color: #222;
  border: none;
  cursor: pointer;
  opacity: 0.4;
  transition: all ease-in-out 0.4s;
}
#top-btn:hover {
  opacity: 1;
}

/* Responsiveness! */
/* making the website responsive */
@media (max-width: 1267px) {
  nav {
    font-size: 1rem;
  }
  nav i {
    font-size: 2rem;
  }
  #starting-info {
    gap: 2rem;
  }
  .location-text {
    font-size: 1.3rem;
  }
  .headings {
    font-size: 1.5rem;
  }
  .welcome-text h3:nth-child(2) {
    font-size: 2rem;
  }
  .welcome-btn {
    font-size: 1.2rem;
  }
  .ap-text p {
    font-size: 1.1rem;
    text-align: center;
    flex: 1;
  }
  .btn {
    font-size: 1rem;
  }
  .ap-text {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
    gap: 2.5rem;
  }
  .starting-info-text {
    font-size: 1.1rem;
    gap: 2rem;
  }
  #starting-info {
    gap: 1rem;
  }
  #starting-info {
    gap: 2rem;
  }
  .location-text {
    font-size: 1rem;
  }
  footer {
    padding: 30px 60px;
  }
  #top-btn {
    bottom: 30px;
    right: 10px;
    font-size: 1.2rem;
    padding: 5px 10px;
  }
  .contact-form h4 {
    font-size: 1.1rem;
  }
  .contact-form {
    font-size: 1.5rem;
  }
  #contact form {
    font-size: 1.1rem;
  }
}

@media (max-width: 900px) {
  .headings {
    font-size: 1.3rem;
  }
  .welcome-text h3:nth-child(2) {
    font-size: 1.7rem;
  }
  .welcome-btn {
    width: 70%;
    font-size: 1rem;
  }
  .starting-info-text {
    flex-direction: column;
  }
  .starting-info-text div {
    padding: 10px;
  }
  #starting-info {
    padding: 10px 30px 30px 30px;
  }
  .starting-info-images {
    flex-direction: column;
  }
  .starting-info-images img {
    width: 100%;
  }

  .ap-box {
    height: 70vh;
  }
  .ap-box h2 {
    font-size: 0.8rem;
  }
  .ap-box h3 {
    font-size: 1.2rem;
  }
  footer {
    padding: 30px 50px;
    justify-content: center;
    gap: 3rem;
  }
  #apartments-section {
    gap: 2rem;
    padding-top: 40px;
  }
  .ap-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    width: 100%;
    margin: auto;
  }
  .ap-text h2 {
    text-align: center;
    font-size: 1.4rem;
    align-self: top;
  }
  .btn {
    width: 50%;
    margin: auto;
    grid-row: 1;
    grid-column: 2;
  }
  .ap-text p {
    text-align: center;
    font-size: 1rem;
    padding: 10px;
    grid-row: 2;
  }
  nav {
    padding: 10px 20px 5px 20px;
    justify-content: center;
    gap: 3rem;
  }
  nav ul {
    gap: 1rem;
  }
  nav img {
    height: 70px;
  }
  nav .nav-contacts {
    width: 20%;
  }
  #location {
    flex-direction: column;
    height: 140vh;
  }
  .loc-text-image {
    width: 100%;
  }
  .location-text {
    align-items: center;
  }
  #location-map {
    width: 100%;
  }
}

@media (max-width: 730px) {
  footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  footer p {
    width: 70%;
    text-align: center;
  }
  #contact {
    padding: 30px;
  }
  .contact-form {
    font-size: 1.2rem;
    width: 100%;
  }
  .contact-form h4 {
    font-size: 1rem;
  }
  #location {
    flex-direction: column;
    height: 120vh;
  }
  #apartments {
    flex-direction: column;
    height: 120vh;
  }
  .ap-box {
    width: 100%;
    transition: all 0.7s ease-in;
  }
  .ap-box.active {
    flex: 4;
  }
  .ap-box h2 {
    font-size: 1.2rem;
  }

  /* navbar reconfigure */
  nav ul {
    flex-direction: column;
  }
  .hamburger {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 30px;
    right: 30px;
    background: var(--third-color);
    padding: 10px;
    z-index: 101;
    transition: all ease-in-out 0.7s;
    cursor: pointer;
  }
  .hamburger span {
    width: 100%;
    background: #222;
    height: 2px;
    transition: ease-in-out 0.4s all;
  }
  nav {
    flex-direction: column;
    padding: 20px 5px;
    width: 40%;
    height: 100vh;
    transform: translateX(300px);
    right: 0;
    transition: all ease-in-out 0.7s;
  }
  .on {
    transform: translateX(0);
  }

  .change .span-1 {
    transform: rotateZ(-405deg) translate(-4px, 3px);
  }
  .change .span-2 {
    opacity: 0;
  }
  .change .span-3 {
    transform: rotateZ(405deg) translate(-4px, -3px);
  }
}

@media (max-width: 600px) {
  nav {
    width: 50%;
  }
  .welcome-box {
    width: 50%;
  }
  .headings {
    font-size: 1.2rem;
  }
  .welcome-text h3:nth-child(2) {
    font-size: 1.4rem;
  }
  .welcome-btn {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .welcome-box {
    width: 60%;
  }
  #starting-info {
    margin-top: 6rem;
    gap: 0.8rem;
    padding: 5px 10px 20px 10px;
  }
  .starting-info-text {
    font-size: 1rem;
    margin-top: 1rem;
  }
  #apartments-section {
    margin-top: 6rem;
  }
  .ap-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
  }
  .ap-text p {
    border-bottom: 2px solid #c4a484;
    padding: 10px;
  }
  .btn {
    font-size: 0.9rem;
    width: 40%;
  }
  .location-text {
    font-size: 0.9rem;
    text-align: center;
    padding: 20px 10px;
  }
  #contact {
    padding: 30px 10px;
  }
  #contact form {
    display: flex;
    flex-direction: column;
    margin-top: 1.9rem;
    font-size: 1rem;
  }
  .contact-form {
    width: 100%;
    font-size: 1.2rem;
  }
  .contact-form h4 {
    margin-top: 1rem;
  }
  .form-grup {
    width: 80%;
  }
  .form-grup input {
    font-size: 0.9rem;
  }
  footer p {
    font-size: 0.9rem;
  }
  footer .social-media {
    font-size: 1rem;
    text-align: center;
    padding: 20px;
  }
}
